<%- include('../partials/head') %>
<p class="komunikat">Strona uruchamiana przez MongoDB</p>
<%- include('../partials/header') %>
</head>
<body>
    <main>
        <div class="container">
            <br/>
            <div class="sekcja1">
                <br/><h1>Dzien dobry</h1>
                <h3>Jestesmy taka ekipa co czasem buduje cos w minecraft, jak chcesz to mozesz:</h3>
                <h4>- Zamowic u nas jakies zlecenia (Mozemy ci zaplanowac projekt budowy a nawet ci pobudowac zalezy co wolisz)</h4>
                <h4>- Zobaczyc co mamy do roboty z tego</h4>
                <h4>- Zalogowac sie na naszej stronie aby to zobaczyc</h4>
            </div>
            <div class="sekcja2">
                <table class="tablica">
                    <tr>
                        <th colspan="3"><h2>Nasze Flagowe projekty</h2></th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <h4>Superstrada</h4><br/>
                            <h5>Zbudowalismy taka mocna autostrade podziemna zeby sobie polaczyc miasta jak inni ludzie grajacy na serwerze to odkryli to oniemieli.</h5>
                        </th>
                        <th><img class="obraz1" src="../img/Superstrada1.png" alt="Superstrada"></th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <h4>Tor wyscigowy barcelona</h4><br/>
                            <h5>Budujemy teraz taki tor wyscigow konnych ktory wyglada jak stadion troche bo ktos wpadl na taki pomysl i nagle kazdy to chcial.</h5>
                        </th>
                        <th><img src="../img/Stadion1.png" alt="Superstrada" class="obraz2"></th>
                    </tr>
                </table>
            </div>
            <br/><br/><br/>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>