<%- include('../partials/head') %>
<p class="komunikat">Strona uruchamiana przez MongoDB</p>
<%- include('../partials/header') %>

<body>
    <main>
        <div class="container">
            <br/>
            <div class="sekcja1">
                <h1>Kim jestesmy</h2>
                <h3>Jestesmy ekipa mezczyzn ktorzy po aktywnosciach poza domem zbieraja sie na wspolne granie na serwerze minecraft <br/> (bo sa swieta i mamy taka tradycje wiec wypada)</h3>
                <h3>W grze zarabiamy grube miliony jak ktos u nas cos zamowi i spiewamy szanty</h3>
                <h3>Gramy tylko w swieta jak cos ta cala firma budowlana to sezonowe hobby dla nas</h3>
            </div>
            <br/><br/><br/>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>