<header>
    <div class="container">
        <div class="tytul">
            <h3>Biznesowa Kompania Serwerowa</h3>
        </div>
        <nav>
            <ul>
                <li><a href="/">Strona Glowna</a></li>
                <li><a href="/zlecenia">Zlecenia</a></li>
                <li><a href="/product">Lista zlecen</a></li>
                <li><a href="/o-nas">O nas</a></li>
                <% if (currentUser && currentUser.nazwa) { %>
                    <li><a href="/auth/logout">Wyloguj się (<%= currentUser.nazwa %>)</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Zaloguj się</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
